body {
  background: url("http://www.puppygames.net/images/ultratron/UT-twinshot-2.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: white;
}

/* nav styling */

.nav-wrapper {
  background-color: #2f3738;
}

.sidenav {
  background-color: #2f3738;
}

nav ul a {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}

nav .brand a {
  height: -webkit-fill-available;
}

.btn-link {
  background: #000000;
}

/* sidnav fix */

nav .nav-wrapper .button-collapse {
  display: none;
}

.hide-on-med-and-down {
  display: none;
}
nav ul {
  width: 100%;
}
.brand {
  display: block;
}
nav ul li.btn {
  float: right;
  margin: 10px;
}

/* container styling */

.mainContent {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  width: 50%;
}

h6 {
  color: white;
  /* margin-top: 1.5em; */
  background-color: #647678;
  padding: 0.75em 0.75em 0.75em 0.75em;
  width: 75%;
  border-radius: 5px;
  opacity: 0.5;
  
}
input {
  color: white;
  max-width: 300px;
  margin: auto;
  width: 50%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(222, 229, 231, 0.5);
}



/* highscore and user display styling */

.username-text {
  color: gold;
}
.ranking-text {
  color: cyan;
}
.score-text {
  color: red;
}

/* canvas styling */
canvas {
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/* footer styling */

#footer {
  background-color: #647678;
  max-height: 5%;
}

#footer p {
  font-weight: 300;
}

footer i {
  /* width: 175px; */
  font-size: 24px;
  margin-top: 0.5em;
}
.text-28 {
  font-size: 28px;
}

/* media queryies */

@media only screen and (min-width: 993px) {
  .container {
    width: 92%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.side-nav .brand {
  height: -webkit-fill-available;
  display: inline-block;
}
